.tabs {
    ul.tab-list {
        gap: 1.62rem;

        li {
            color: #7e7e7e;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1rem;
            cursor: pointer;
            padding-bottom: 0.62rem;

            &.active {
                color: #000;
                border-bottom: 0.1875rem solid #000;
            }
        }
    }

    .tab-content {
        margin-top: 2.38rem;
    }
}
