body {
    font-family: 'Avenir', sans-serif;
    color: #182033;
}

.container {
    // max-width: 1920px;
    // width: 100%;
    padding: 3.12rem;
}

a,
button {
    transition: 0.3s;
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.text-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h2.list-title {
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0 24px;
}

/* arrows */
.arrow {
    width: 0;
    height: 0;
    &.up {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
    }
    &.down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
    }
    &.right {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #fff;
    }
    &.left {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #fff;
    }
}
