body {
    font-family: 'Avenir', sans-serif;
    color: #182033;
}

.container {
    // max-width: 1920px;
    // width: 100%;
    padding: 3.12rem;
}

a,
button {
    transition: 0.3s;
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn,
.select,
.input {
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    height: 2.5rem;
    border: 1px solid rgba(178, 187, 213, 0.5);
    box-shadow: 0px 1px 2px #e6e8f0;

    &.light {
        background: linear-gradient(0deg, #fafafc 0%, #fff 100%);
        color: #2a3558;
    }

    &.dark {
        background: #f5f6fa;
        color: #707ea7;
    }
}

.text-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
