.input-group {
    .top-item {
        gap: 0.5rem;
        align-items: center;
        label {
            margin-bottom: 0.5rem;
        }
        svg {
        }
    }
    .input {
        position: relative;
        width: 14.125rem;
        input {
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}
