.channel-month-row {
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: 4rem;
    padding: 0 0.93rem;
    margin-top: 1rem;

    .left-side {
        min-width: 18.3rem;
        align-items: center;
        .channel-icon-wrap {
            align-items: center;
            .channel-icon {
                display: flex;
            }

            .channel-name {
                padding: 0 1rem;
            }
        }
    }

    .right-side {
        flex-direction: column;
        padding: 0 1.56rem;
        justify-content: center;
        .budgets {
            gap: 2rem;
            .budget {
                width: 5rem;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.25rem;
            }
        }
    }
}
