.app {
    .top-content {
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.0125rem;
        }

        .top-title {
            margin-top: 1rem;
            h2 {
                font-size: 1.125rem;
            }

            p {
                width: 42.375rem;
            }
        }

        .add-channel {
            margin-top: auto;
            gap: 0.5rem;
            color: #707ea7;
            font-weight: 600;
        }
    }

    .tabs {
        margin-top: 3.31rem;
        ul.tab-list {
            gap: 1.62rem;

            li {
                color: #7e7e7e;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1rem;
                cursor: pointer;
                padding-bottom: 0.62rem;

                &.active {
                    color: #000;
                    border-bottom: 0.1875rem solid #000;
                }
            }
        }
    }

    .tab-content {
        margin-top: 2.38rem;
    }
}
