.app {
    .top-content {
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.0125rem;
        }

        .top-title {
            margin-top: 1rem;
            h2 {
                font-size: 1.125rem;
            }

            p {
                width: 42.375rem;
            }
        }

        .add-channel {
            margin-top: auto;
            gap: 0.5rem;
            color: #707ea7;
            font-weight: 600;
        }
    }

    .tabs {
        margin-top: 3.31rem;
    }
}
